# Configuration file

anvil {
    I:"chunkGtAluminium;gt.empty_slot;_48"=48
    I:"chunkGtDesh;gt.empty_slot;_64"=64
    I:"chunkGtDraconium;gt.empty_slot;_80"=80
    I:"chunkGtElectrum;gt.empty_slot;_48"=48
    I:"chunkGtTitanium;gt.empty_slot;_64"=64
    I:"chunkGtZirconium;gt.empty_slot;_64"=64
    I:"crushedCentrifugedPyrite;gt.empty_slot;_22"=22
    I:"crushedCentrifugedTinyPyrite;gt.empty_slot;_3"=3
    I:"crushedPurifiedPyrite;gt.empty_slot;_20"=20
    I:"crushedPurifiedTinyPyrite;gt.empty_slot;_3"=3
    I:"crushedPyrite;gt.empty_slot;_18"=18
    I:"crushedSulfur;gt.empty_slot;_18"=18
    I:"crushedTinyPyrite;gt.empty_slot;_2"=2
    I:"crushedTinySulfur;gt.empty_slot;_2"=2
    I:"ingotAluminium;ingotAluminium;_384"=384
    I:"ingotAluminium;ingotDoubleAluminium;_576"=576
    I:"ingotAluminium;ingotQuadrupleAluminium;_960"=960
    I:"ingotAluminium;ingotTripleAluminium;_768"=768
    I:"ingotDesh;ingotDesh;_512"=512
    I:"ingotDesh;ingotDoubleDesh;_768"=768
    I:"ingotDesh;ingotQuadrupleDesh;_1280"=1280
    I:"ingotDesh;ingotTripleDesh;_1024"=1024
    I:"ingotDoubleStainlessSteel;gt.empty_slot;_384"=384
    I:"ingotDoubleThaumium;gt.empty_slot;_512"=512
    I:"ingotDoubleTitanium;gt.empty_slot;_512"=512
    I:"ingotDoubleTitaniumNiobiumCarbide;gt.empty_slot;_640"=640
    I:"ingotDoubleVibraniumSilver;gt.empty_slot;_1280"=1280
    I:"ingotDraconium;ingotDoubleDraconium;_960"=960
    I:"ingotDraconium;ingotDraconium;_640"=640
    I:"ingotDraconium;ingotQuadrupleDraconium;_1600"=1600
    I:"ingotDraconium;ingotTripleDraconium;_1280"=1280
    I:"ingotElectrum;ingotDoubleElectrum;_576"=576
    I:"ingotElectrum;ingotElectrum;_384"=384
    I:"ingotElectrum;ingotQuadrupleElectrum;_960"=960
    I:"ingotElectrum;ingotTripleElectrum;_768"=768
    I:"ingotTitanium;ingotDoubleTitanium;_768"=768
    I:"ingotTitanium;ingotQuadrupleTitanium;_1280"=1280
    I:"ingotTitanium;ingotTitanium;_512"=512
    I:"ingotTitanium;ingotTripleTitanium;_1024"=1024
    I:"ingotTitaniumNiobiumCarbide;ingotTitaniumNiobiumCarbide;_640"=640
    I:"ingotTripleBronze;gt.empty_slot;_576"=576
    I:"ingotTripleTitanium;gt.empty_slot;_768"=768
    I:"ingotTripleTitaniumNiobiumCarbide;gt.empty_slot;_960"=960
    I:"ingotZirconium;ingotDoubleZirconium;_768"=768
    I:"ingotZirconium;ingotQuadrupleZirconium;_1280"=1280
    I:"ingotZirconium;ingotTripleZirconium;_1024"=1024
    I:"ingotZirconium;ingotZirconium;_512"=512
    I:"oreRawCassiterite;gt.empty_slot;_30"=30
    I:"oreRawCopper;gt.empty_slot;_30"=30
    I:"oreRawGarnierite;gt.empty_slot;_1"=1
    I:"oreRawPyrite;gt.empty_slot;_30"=30
    I:"plateBronze;plateBronze;_384"=384
    I:"plateBronze;plateQuadrupleBronze;_960"=960
    I:"plateCurvedStainlessSteel;gt.empty_slot;_192"=192
    I:"plateCurvedThaumium;gt.empty_slot;_256"=256
    I:"plateCurvedTitanium;gt.empty_slot;_256"=256
    I:"plateCurvedTitaniumNiobiumCarbide;gt.empty_slot;_320"=320
    I:"plateCurvedVibraniumSilver;gt.empty_slot;_640"=640
    I:"plateDoubleBronze;plateTripleBronze;_960"=960
    I:"plateTitanium;plateTitanium;_512"=512
    I:"plateTitaniumNiobiumCarbide;plateTitaniumNiobiumCarbide;_640"=640
    I:"rockGtObsidian;gt.empty_slot;_144"=144
    I:"rockGtPyrite;gt.empty_slot;_36"=36
    I:"rockGtVibranium;gt.empty_slot;_576"=576
}


