# Configuration file

laser_cutter {
    I:"blockSolidRubber;_896"=896
    I:"blockSolidTitanium;_896"=896
    I:"ingotDoubleRubber;_128"=128
    I:"ingotDoubleStainlessSteel;_128"=128
    I:"ingotDoubleTitanium;_128"=128
    I:"ingotQuadrupleRubber;_384"=384
    I:"ingotQuadrupleStainlessSteel;_384"=384
    I:"ingotQuadrupleTitanium;_384"=384
    I:"ingotQuintupleRubber;_512"=512
    I:"ingotQuintupleStainlessSteel;_512"=512
    I:"ingotQuintupleTitanium;_512"=512
    I:"ingotTripleRubber;_256"=256
    I:"ingotTripleStainlessSteel;_256"=256
    I:"ingotTripleTitanium;_256"=256
    I:"stickLongStainlessSteel;_128"=128
    I:"stickStainlessSteel;_384"=384
}


