# Configuration file

rolling_mill {
    I:"gt.multiitem.food.12310;_32"=32
    I:"gt.multiitem.food.12311;_32"=32
    I:"gt.multiitem.food.12312;_32"=32
    I:"gt.multiitem.food.12313;_32"=32
    I:"gt.multiitem.food.12314;_32"=32
    I:"gt.multiitem.food.32000;_16"=16
    I:"gt.multiitem.food.32003;_16"=16
    I:"ic2.itemIngotAlloy;_128"=128
    I:"ingotAluminium;_768"=768
    I:"ingotDesh;_1024"=1024
    I:"ingotDoubleBronze;_1536"=1536
    I:"ingotDoubleTitanium;_2048"=2048
    I:"ingotDoubleTitaniumNiobiumCarbide;_2560"=2560
    I:"ingotDraconium;_1280"=1280
    I:"ingotElectrum;_768"=768
    I:"ingotQuintupleBronze;_3840"=3840
    I:"ingotStainlessSteel;_768"=768
    I:"ingotThaumium;_1024"=1024
    I:"ingotTitanium;_1024"=1024
    I:"ingotTitaniumNiobiumCarbide;_1280"=1280
    I:"ingotVibraniumSilver;_2560"=2560
    I:"ingotZirconium;_1024"=1024
    I:"item.clay;_32"=32
    I:"item.doughItem;_16"=16
    I:"nuggetDraconium;_143"=143
    I:"plateCurvedStainlessSteel;_768"=768
    I:"plateCurvedThaumium;_1024"=1024
    I:"plateCurvedTitanium;_1024"=1024
    I:"plateCurvedTitaniumNiobiumCarbide;_1280"=1280
    I:"plateCurvedVibraniumSilver;_2560"=2560
}


