# Configuration file

sharpener {
    I:"billetDraconium;_854"=854
    I:"ingotAluminium;_768"=768
    I:"ingotDesh;_1024"=1024
    I:"ingotDraconium;_1280"=1280
    I:"ingotElectrum;_768"=768
    I:"ingotRubber;_256"=256
    I:"ingotStainlessSteel;_768"=768
    I:"ingotTitanium;_1024"=1024
    I:"ingotZirconium;_1024"=1024
    I:"item.flint;_64"=64
    I:"nuggetAluminium;_86"=86
    I:"nuggetDesh;_114"=114
    I:"nuggetDraconium;_143"=143
    I:"nuggetElectrum;_86"=86
    I:"nuggetRubber;_29"=29
    I:"nuggetTitanium;_114"=114
    I:"nuggetZirconium;_114"=114
    I:"plateGemVibranium;_4096"=4096
    I:"platePolytetrafluoroethylene;_128"=128
    I:"rockGtObsidian;_576"=576
    I:"stickPolytetrafluoroethylene;_128"=128
    I:"tile.thinGlass;_64"=64
    I:"toolHeadRawArrowCobalt60;_64"=64
    I:"toolHeadRawArrowElvorium;_64"=64
    I:"toolHeadRawArrowFlint;_32"=32
    I:"toolHeadRawArrowIron;_48"=48
    I:"toolHeadRawArrowManganese;_48"=48
    I:"toolHeadRawArrowRubber;_16"=16
    I:"toolHeadRawArrowSteel;_48"=48
    I:"toolHeadRawArrowVibranium;_256"=256
    I:"toolHeadRawAxeDoubleVibranium;_5120"=5120
    I:"toolHeadRawAxeRubber;_192"=192
    I:"toolHeadRawAxeVibranium;_3072"=3072
    I:"toolHeadRawChiselVibranium;_1536"=1536
    I:"toolHeadRawHoeRubber;_128"=128
    I:"toolHeadRawHoeVibranium;_2048"=2048
    I:"toolHeadRawPickaxeRubber;_192"=192
    I:"toolHeadRawPickaxeVibranium;_3072"=3072
    I:"toolHeadRawPlowRubber;_256"=256
    I:"toolHeadRawPlowVibranium;_4096"=4096
    I:"toolHeadRawSawSteel;_384"=384
    I:"toolHeadRawSawTitaniumNiobiumCarbide;_640"=640
    I:"toolHeadRawSawVibranium;_2048"=2048
    I:"toolHeadRawSawVibraniumSilver;_1280"=1280
    I:"toolHeadRawSenseRubber;_192"=192
    I:"toolHeadRawSenseVibranium;_3072"=3072
    I:"toolHeadRawShovelRubber;_64"=64
    I:"toolHeadRawShovelVibranium;_1024"=1024
    I:"toolHeadRawSpadeRubber;_64"=64
    I:"toolHeadRawSpadeVibranium;_1024"=1024
    I:"toolHeadRawSwordRubber;_128"=128
    I:"toolHeadRawSwordVibranium;_2048"=2048
    I:"toolHeadRawUniversalSpadeVibranium;_911"=911
}


