# Configuration file

sharpener {
    I:"billetDraconium;_854"=854
    I:"ingotDraconium;_1280"=1280
    I:"ingotRubber;_256"=256
    I:"ingotStainlessSteel;_768"=768
    I:"ingotTitanium;_1024"=1024
    I:"item.flint;_64"=64
    I:"nuggetDraconium;_143"=143
    I:"nuggetRubber;_29"=29
    I:"nuggetTitanium;_114"=114
    I:"platePolytetrafluoroethylene;_128"=128
    I:"stickPolytetrafluoroethylene;_128"=128
    I:"tile.thinGlass;_64"=64
    I:"toolHeadRawArrowRubber;_16"=16
    I:"toolHeadRawAxeRubber;_192"=192
    I:"toolHeadRawHoeRubber;_128"=128
    I:"toolHeadRawPickaxeRubber;_192"=192
    I:"toolHeadRawPlowRubber;_256"=256
    I:"toolHeadRawSenseRubber;_192"=192
    I:"toolHeadRawShovelRubber;_64"=64
    I:"toolHeadRawSpadeRubber;_64"=64
    I:"toolHeadRawSwordRubber;_128"=128
}


