# Configuration file

welding_machine {
    I:"casingSmallStainlessSteel;gt.integrated_circuit;_192"=192
    I:"ingotCastIron;ingotBronze;ingotTin;_128"=128
    I:"ingotDraconium;gt.integrated_circuit;_1280"=1280
    I:"ingotDraconium;gt.integrated_circuit;_1600"=1600
    I:"ingotDraconium;gt.integrated_circuit;_2880"=2880
    I:"ingotDraconium;gt.integrated_circuit;_640"=640
    I:"ingotDraconium;gt.integrated_circuit;_960"=960
    I:"ingotHSLASteel;ingotBronze;ingotTin;_128"=128
    I:"ingotIron;ingotBronze;ingotTin;_128"=128
    I:"ingotIronCompressed;ingotBronze;ingotTin;_128"=128
    I:"ingotKnightmetal;ingotBronze;ingotTin;_128"=128
    I:"ingotMeteoricIron;ingotBronze;ingotTin;_128"=128
    I:"ingotMeteoricSteel;ingotBronze;ingotTin;_128"=128
    I:"ingotMeteorite;ingotBronze;ingotTin;_128"=128
    I:"ingotPigIron;ingotBronze;ingotTin;_128"=128
    I:"ingotSteel;ingotBronze;ingotTin;_128"=128
    I:"ingotWroughtIron;ingotBronze;ingotTin;_128"=128
    I:"plateAdamantium;gt.integrated_circuit;_256"=256
    I:"plateBronze;gt.integrated_circuit;_256"=256
    I:"plateCastIron;plateBronze;plateTin;_256"=256
    I:"plateDenseAdamantium;gt.integrated_circuit;_512"=512
    I:"plateDenseBronze;gt.integrated_circuit;_512"=512
    I:"plateDenseInvar;gt.integrated_circuit;_512"=512
    I:"plateDenseLead;gt.integrated_circuit;_512"=512
    I:"plateDenseStainlessSteel;gt.integrated_circuit;_512"=512
    I:"plateDenseSteel;gt.integrated_circuit;_512"=512
    I:"plateDenseSteelGalvanized;gt.integrated_circuit;_512"=512
    I:"plateDenseTantalumHafniumCarbide;gt.integrated_circuit;_512"=512
    I:"plateDenseTitanium;gt.integrated_circuit;_512"=512
    I:"plateDenseTungsten;gt.integrated_circuit;_512"=512
    I:"plateDenseTungstensteel;gt.integrated_circuit;_512"=512
    I:"plateHSLASteel;plateBronze;plateTin;_256"=256
    I:"plateInvar;gt.integrated_circuit;_256"=256
    I:"plateIron;plateBronze;plateTin;_256"=256
    I:"plateIronCompressed;plateBronze;plateTin;_256"=256
    I:"plateKnightmetal;plateBronze;plateTin;_256"=256
    I:"plateLead;gt.integrated_circuit;_256"=256
    I:"plateMeteoricIron;plateBronze;plateTin;_256"=256
    I:"plateMeteoricSteel;plateBronze;plateTin;_256"=256
    I:"plateMeteorite;plateBronze;plateTin;_256"=256
    I:"platePigIron;plateBronze;plateTin;_256"=256
    I:"plateStainlessSteel;gt.integrated_circuit;_256"=256
    I:"plateSteel;gt.integrated_circuit;_256"=256
    I:"plateSteel;plateBronze;plateTin;_256"=256
    I:"plateSteelGalvanized;gt.integrated_circuit;_256"=256
    I:"plateTantalumHafniumCarbide;gt.integrated_circuit;_256"=256
    I:"plateTitanium;gt.integrated_circuit;_256"=256
    I:"plateTungsten;gt.integrated_circuit;_256"=256
    I:"plateTungstensteel;gt.integrated_circuit;_256"=256
    I:"plateWroughtIron;plateBronze;plateTin;_256"=256
}


