# Configuration file

exclusions {
}


"item replacements" {
    S:foodMuttonraw=harvestcraft
	S:ingotCopper=hbm
	S:dustCoal=hbm
	S:dustLapis=hbm
	S:dustIron=hbm
	S:dustGold=hbm
	S:dustLead=hbm
	S:ingotTin=ProjRed
}


replacements {
	S:oreCopper=hbm
}




toomanydanyores {
    # Try increasing this value if you experience lag [range: 1 ~ 1200, default: 100]
    I:"Merge Items Every X Ticks"=100
}


