# Configuration file

General {
    # This allows you to disable recipes for Florbs. It also means that you actively dislike fun things.
    B:Recipe.Enable=true
}


Whitelist {
    B:acid_fluid=true
    B:adamantine.molten=true
    B:aerotheum=true
    B:aluminum.molten=true
    B:aluminumbrass.molten=true
    B:alumite.molten=true
    B:ammonia=true
    B:ardite.molten=true
    B:bacterialsludge=true
    B:bedrockium.molten=true
    B:bioethanol=true
    B:biomass=true
    B:blood=true
    B:brass.molten=true
    B:bromine_fluid=true
    B:bronze.molten=true
    B:coal=true
    B:cobalt.molten=true
    B:combustionpromotor=true
    B:compressednitrogen=true
    B:compressedoxygen=true
    B:concrete=true
    B:copper.molten=true
    B:corium_fluid=true
    B:cryotheum=true
    B:dark.steel.molten=true
    B:desh.molten=true
    B:drulloy.molten=true
    B:electrum.molten=true
    B:elementium.molten=true
    B:emerald.liquid=true
    B:ender=true
    B:endergoo=true
    B:enderium.molten=true
    B:enrichedbacterialsludge=true
    B:fairy.molten=true
    B:fermentedbacterialsludge=true
    B:fiery_essence=true
    B:fierymetal.molten=true
    B:fluid.coaltar=true
    B:fluid.sludge=true
    B:fluiddeath=true
    B:fluidmilk=true
    B:fluidmushroom=true
    B:fluidpure=true
    B:fluidvishroom=true
    B:fluxgoo=true
    B:for.honey=true
    B:fuel=true
    B:gas_natural_gas=true
    B:glass=true
    B:glass.molten=true
    B:glowstone=true
    B:glue=true
    B:gold.molten=true
    B:heavilycrackedheavynaquadahfuel=true
    B:heavilycrackedlightnaquadahfuel=true
    B:heavilycrackednaquadahasphalt=true
    B:heavilycrackednaquadahgas=true
    B:ic2biogas=true
    B:ic2biomass=true
    B:ic2constructionfoam=true
    B:ic2coolant=true
    B:ic2distilledwater=true
    B:ic2hotcoolant=true
    B:ic2hotwater=true
    B:ic2pahoehoelava=true
    B:ic2steam=true
    B:ic2superheatedsteam=true
    B:ic2uumatter=true
    B:ice=true
    B:invar.molten=true
    B:iron.molten=true
    B:juice=true
    B:knightmetal.molten=true
    B:lava=true
    B:lead.molten=true
    B:lightlycrackedheavynaquadahfuel=true
    B:lightlycrackedlightnaquadahfuel=true
    B:lightlycrackednaquadahasphalt=true
    B:lightlycrackednaquadahgas=true
    B:liquid_extra_heavy_oil=true
    B:liquid_heavy_oil=true
    B:liquid_light_oil=true
    B:liquid_medium_oil=true
    B:lumium.molten=true
    B:mana=true
    B:manasteel.molten=true
    B:manyullyn.molten=true
    B:mead=true
    B:mercury_fluid=true
    B:mithril.molten=true
    B:moderatelycrackedheavynaquadahfuel=true
    B:moderatelycrackedlightnaquadahfuel=true
    B:moderatelycrackednaquadahasphalt=true
    B:moderatelycrackednaquadahgas=true
    B:mud_fluid=true
    B:nickel.molten=true
    B:nitricacid=true
    B:obsidian.molten=true
    B:oil=true
    B:petrotheum=true
    B:pigiron.molten=true
    B:platinum.molten=true
    B:pokefennium.molten=true
    B:pollution=true
    B:potato.soup=true
    B:pyrotheum=true
    B:quartz.molten=true
    B:rad_lava_fluid=true
    B:red.aurum.molten=true
    B:redmetal.molten=true
    B:redplasma=true
    B:redstone=true
    B:redstone.molten=true
    B:riverwater=true
    B:schrabidic_fluid=true
    B:seawater=true
    B:seedoil=true
    B:short.mead=true
    B:signalum.molten=true
    B:silver.molten=true
    B:slime.blue=true
    B:sludge=true
    B:sodiumpotassium=true
    B:steam=true
    B:steel.molten=true
    B:stone.seared=true
    B:sulfuric_acid_fluid=true
    B:supercriticalsteam=true
    B:terrasteel.molten=true
    B:tin.molten=true
    B:toxic_fluid=true
    B:voidmetal.molten=true
    B:volcanic_lava_fluid=true
    B:water=true
    B:waterdirty=true
    B:watergeothermal=true
    B:"witchery:brew"=true
    B:"witchery:brewliquid"=true
    B:"witchery:fluiddisease"=true
    B:"witchery:fluidspirit"=true
    B:"witchery:hollowtears"=true
    B:zinc.molten=true
}


