# Configuration file

core {
    S:"ToolConsumptionEnergy Def:EU, Poss: STEAM, MJ, RF, AU, QU, MU, LU, HU, CU, KU, RU, EU, NU, TU, (put any invalid item to make it consume no energy)_EU"=EU
    I:"consumptionRate (def:50) 50 * voltage for each usage of the scanner_50"=50
    I:"storage_multiplier (this gets multiplied by the voltage of each tier)_8000"=8000
}


